@charset "utf-8";
/* 초기화값 */
* { margin: 0; padding: 0; }
ul { list-style: none; }
a { text-decoration: none; }
.hidden { overflow: hidden; text-indent: -9999px; }
/* 문서전체 */
.container { width: 800px; margin: 0 auto; }
/* header */
header { height: 150px; background-color: #f46075; 
        background-image: url('10/nav2.png'); background-repeat: no-repeat;
        background-position: right center; }
header nav ul li { float: left; width: 15%; text-align: center; }
header nav ul li a { display: block; width: 100%; height: 30px; color: white; }
header nav ul li a:hover { color: greenyellow; font-weight: bold; }
/* section */
section { width: 650px; }
section article { float: left; width: 260px; height: 300px; padding: 5px; 
                margin: 0 5px 10px; border: 2px dotted #f46075; }
section article:hover { background-color: rgba(255, 0, 0, 0.2); border: 2px dashed red; }
section article h3 { font-size: 1em; }
section article p { font-size: 0.9em; text-align: justify; }
 /* aside */
 aside { float: right; width: 180px; margin-top: -325px; padding: 10px; border: 2px dotted green; }
 aside figure figcaption { font-size: 0.8em; text-align: center; }
 /* footer */
 footer { clear: both; height: 100px; padding: 10px; background-color: rgb(30, 30, 30); }
 footer p { color: white; font-size: 0.9em; text-align: center; line-height: 30px; }